{% extends 'base.html' %}
{% block title %} {{headtitle}} {% endblock %}
{% block content %}

<br>
<font size="9">I'm Rich Sly Fly</font>  
<br>
<br>
<p> I was born and raised on the North Side of Mumbai. I’ve been a Songwriter, Rapper and activist for a few years. I think songwriting was the biggest way that I found my identity. <br> I believe we have a limited number of breaths on this planet. This realization is what drives me. I am grateful for every moment, every unrepeatable miracle, and while I’m here I want to reach every single heart on the planet to show them what advancement embracing individuality can bring to us & our other earthly species.</p>
<br>
<iframe width="728" height="409.5" src="https://www.youtube.com/embed/bNawm-vnKpA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endblock %}