{% extends 'base.html' %}

{% block title %} FRE$H MERCH {% endblock %}

{% block content %}
<div class="card" style="width: 55rem;">
  <div class="card-body">
    <h5 class="card-title">BRAND NEW MERCH</h5>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">BUY NOW</h6>
    <br>
    <p class="card-text"> <li> This brand is available exclusively on Amazon</li>
<li>-- 100% Cotton </li>
<li>-- Regular fit</li>
<li>-- Long sleeve</li>
<li>-- Semi cut away collar</li>
<li>-- Machine wash warm, wash dark colors separately, do not bleach, tumble dry low, warm iron </li>
<li>-- Made in India</li>
<li>-- Tape at inner neck band and button placke</li></p>
    <a href="https://www.amazon.in/Symbol-Amazon-Regular-Casual-AW17MCS115_Large_Navy/dp/B073QNRYP4/ref=sr_1_4_acs_pb_intl_sl?s=apparel&ie=UTF8&qid=1534683213&sr=1-4-acs&keywords=shirt" target="_blank" >My Shirt</a>

    <a href="https://www.myntra.com/shirts/roadster/roadster-men-navy-checked-casual-shirt/1667068/buy" target="_blank">Another Shirt</a>
  </div>
</div>
{% endblock %}